/* CSS Tablet */
.parent-container{
  display: grid;
  grid-template-areas: 
    "header   header    nav      nav      nav"
    "filter   products  products products products"
    ".        products  products products products"
    "pages    pages     pages    pages    pages"
    "footer   footer    footer   footer   footer";
  grid-template-columns: repeat(5, 1fr);
}
.displayNone,
.nav{
  display: block;
}
.nav{
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  background-color: #00b4d8ff;
  color: #caf0f8ff;
  height: 5rem;
}
.burger{
  display: none;
}
div.filter{
  background-color: #caf0f8;
}
.filter{
  flex-direction: column;
  padding-top: 40%;
}
.products{
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.product.displayNone{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.product{
  margin: 2% 0;
}
img{
  max-width: 25rem;
  object-fit: fill
}
div.pages{
  background-color: #caf0f8;
}
.pages p{
  padding: 1%;
  padding-bottom: 1rem;
}